<div class="toolbar">
  <h1>Weather Query</h1>
</div>

<div class="content">
  <section class="search">
    <form>
      <input class="inputbox" type="text" placeholder="Search by city" #filter>
      <button class="primary" type="button" (click)="searchResults(filter.value)">Search</button>
      <div class="unit-selection">
        <p>Imperial (&deg;F)</p>
        <label class="switch">
          <input type="checkbox" [(ngModel)]="units" (change)="unitsChanged()" name="check-unit">
          <span class="slider"></span>
        </label>
        <p>Metric (&deg;C)</p>
      </div>
    </form>
    <p *ngIf="showCityList">Confirm your location: </p>
    <div class="option-container" *ngIf="showCityList">
      <button class="options" (click)="filterResults(item)" *ngFor="let item of weatherList">
        <span>{{ item.sys.country + ', Lat: '+ item.coord.lat + ', Lon: '+ item.coord.lon}}</span>
      </button>
    </div>
  </section>
  <app-weather *ngIf="showWeatherInfo"
               [selectedCity]="selectedCity"
               [units]="units">
  </app-weather>
</div>